.c{
    height: 80vh;
    width: 100%;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.c-bg{
    width: 20px;
    height: 95%;
    background-color: yellowgreen;
    position: absolute;
    left: 0px;
}

.c-wrapper{
    padding: 50px;
    display: flex;
}

.c-left{
    flex: 1;
}

.c-title{
    font-weight: bold;
    font-size: 100px;
}

.c-sub{
    font-weight: 600;
    font-size: 20px;
    width: 80%;
}

.c-right{
    flex: 1;
}

.c-done {
    margin-top: 10px;
}

.c-desc{
    font-weight: 600;
    font-size: 20px;
}

form{ 
    margin-top: 0px;
}

input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
    font-size: 15px;
}

textarea {
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 15px;
    margin-top: 15px;
    resize: none;
}

button {
    border: none;
    background-color: yellowgreen;
    color: white;
    padding: 15px;
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 0px;
}


@media screen and (max-width: 480px) {
    .c{
        height: 60vh;
    }
    
    .c-wrapper{
        flex-direction: column;
        padding: 0px 50px;
    }
    
    .c-sub{
        display: none;
    }

    .c-title{
        font-size: 30px;
    }

    .c-desc{
        font-size: 15px;
    }

    .c-done{
        margin-left: 20px;
    }

    form {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    input {
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0px;
    }

    button{
        margin-top: 10px;
    }
}